<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.consumerapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.ferdibayu.githubuser2.READ_DATABASE"/>
    <uses-permission android:name="com.ferdibayu.githubuser2.WRITE_DATABASE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logosecondconsumer"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logosecondconsumer"
        android:supportsRtl="true"
        android:theme="@style/Theme.null">
        <activity android:name=".FavouriteActivity"/>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity"
            android:parentActivityName=".FavouriteActivity"/>
        <activity android:name=".DetailActivity"
            android:parentActivityName=".FavouriteActivity"/>
    </application>

</manifest>