<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ferdibayu.githubuser2">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.ferdibayu.githubuser2.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.ferdibayu.githubuser2.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logosecond"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logosecond"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <receiver
            android:name="com.ferdibayu.githubuser2.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name="com.ferdibayu.githubuser2.SettingActivity"
            android:parentActivityName="com.ferdibayu.githubuser2.MainActivity" />
        <activity
            android:name="com.ferdibayu.githubuser2.FavouriteActivity"
            android:parentActivityName="com.ferdibayu.githubuser2.MainActivity" />

        <provider
            android:name="com.ferdibayu.githubuser2.provider.UserContentProvider"
            android:authorities="com.ferdibayu.githubuser2"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.ferdibayu.githubuser2.READ_DATABASE"
            android:writePermission="com.ferdibayu.githubuser2.WRITE_DATABASE" />

        <activity
            android:name="com.ferdibayu.githubuser2.DetailActivity"
            android:parentActivityName="com.ferdibayu.githubuser2.MainActivity" />
        <activity android:name="com.ferdibayu.githubuser2.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ferdibayu.githubuser2.MainActivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>